<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection"
        connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MyWoodenHouseSystem.Web-20170202013624.mdf;Initial Catalog=aspnet-MyWoodenHouseSystem.Web-20170202013624;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  <add name="BookLibraryDbContextConnectionString"
      connectionString="Data Source=.;Initial Catalog=BookLibrary;Integrated Security=false;User Id=booklibrary;Password=11; MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>
