@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "Summary";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The project is a simple online library with the possibility of adding new books to a
database and viewing list of available books after logging in the system. The task
you are about to solve will test you for couple abilities. Form handling, file handling,
easy session management and simple database CRUD operations.</p>